body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(30, 31, 34);
}

.title{
    color: rgb(90, 100, 234);
    text-align: center;
}

.textStyle {
    color: white;
}

.box{
    background-color: rgb(49, 51, 56);
    padding: 2%;
    border-radius: 16px;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.1);
    margin: 0;
}

.container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat((6, auto));
    gap: 2px;
}

.selectOption{
    border-radius: 0;
    border: none;
}

.btnCopy {
    color: rgb(90, 100, 234);
    background-color: #fff;
    border: none;
}

.btnReset {
    color: rgb(90, 100, 234);
    grid-column: span 2;
    border: none;
    background-color: #fff;
}