body {
    margin: 0;
    background-color: #222;
    font-family: 'Crimson Text';
}

.box {
    margin: auto;
    box-sizing: border-box;
    width: 62vw;
    background: red;
    margin-top: 25vh;
    padding: 1.2vw;
    box-shadow: 0 0 40px 0 #eee7;
    background-color: #1e1e1e;
    border-radius: 6px;
}

.title {
    text-align: center;
    color: #eee;
}

label {
    color: #eee;
}

.box_separator {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 1px;
}


.btn_copiar {
    border-radius: 0px;
}

.btn_reset {
    grid-column: 1 / 3;
}
